/* DesignBridge — generated tokens */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-taupe-medium: #b0acac;
  --color-new: #c8b677;
  --color-turquoise-green: #33c096;
  --color-dark-green: #022d2c;
  --color-green: #5c7d7d;
  --color-grey: #706a6a;
  --color-colors-white: #fcfcfc;
  --color-taupe-hell: #e5e3e3;
  --color-medium-red: #6d4d5d;
  --color-medium-green: #859d9d;
  --color-turqoise: #b8dcd7;
  --color-light-grey: #f5f4f4;
  --color-textcolors-maintext: #776c82;
  --color-textcolors-headers: #30233d;
  --color-yellow: #e8d286;
  --color-surface-app-ui: #ffffff;
  --color-black-inactive: #000000;
  --color-secondary-600: #018786;
  --color-secondary-500: #01a39d;
  --color-surface-card: #fafafa;
  --color-black-focus-overlay-12: #000000;
  /* Typography */
  --typography-subline-4-font-family: Roboto;
  --typography-subline-4-font-size: 10px;
  --typography-subline-4-font-weight: 700;
  --typography-subline-4-line-height: 14px;
  --typography-h6-16pt-font-family: Raleway;
  --typography-h6-16pt-font-size: 16px;
  --typography-h6-16pt-font-weight: 400;
  --typography-h6-16pt-line-height: 20px;
  --typography-h1-45pt-font-family: Raleway;
  --typography-h1-45pt-font-size: 45px;
  --typography-h1-45pt-font-weight: 600;
  --typography-h1-45pt-line-height: 50px;
  --typography-subline1-18pt-font-family: Roboto;
  --typography-subline1-18pt-font-size: 18px;
  --typography-subline1-18pt-font-weight: 400;
  --typography-subline1-18pt-line-height: 35px;
  --typography-h4-20pt-font-family: Raleway;
  --typography-h4-20pt-font-size: 20px;
  --typography-h4-20pt-font-weight: 500;
  --typography-h4-20pt-line-height: 25px;
  --typography-body-14pt-regular-font-family: Roboto;
  --typography-body-14pt-regular-font-size: 14px;
  --typography-body-14pt-regular-font-weight: 400;
  --typography-body-14pt-regular-line-height: 20px;
  --typography-body-14pt-strikethrough-font-family: Roboto;
  --typography-body-14pt-strikethrough-font-size: 14px;
  --typography-body-14pt-strikethrough-font-weight: 400;
  --typography-body-14pt-strikethrough-line-height: 20px;
  --typography-body-14pt-bold-font-family: Roboto;
  --typography-body-14pt-bold-font-size: 14px;
  --typography-body-14pt-bold-font-weight: 700;
  --typography-body-14pt-bold-line-height: 16px;
  --typography-subline-2-10pt-font-family: Roboto;
  --typography-subline-2-10pt-font-size: 10px;
  --typography-subline-2-10pt-font-weight: 400;
  --typography-subline-2-10pt-line-height: 12px;
  --typography-pricetag-14-pt-regular-strikethrough-font-family: Roboto;
  --typography-pricetag-14-pt-regular-strikethrough-font-size: 14px;
  --typography-pricetag-14-pt-regular-strikethrough-font-weight: 400;
  --typography-pricetag-14-pt-regular-strikethrough-line-height: 16px;
  --typography-pricetag-20pt-bold-font-family: Roboto;
  --typography-pricetag-20pt-bold-font-size: 20px;
  --typography-pricetag-20pt-bold-font-weight: 700;
  --typography-pricetag-20pt-bold-line-height: 20px;
  --typography-pricetag-14pt-bold-font-family: Roboto;
  --typography-pricetag-14pt-bold-font-size: 14px;
  --typography-pricetag-14pt-bold-font-weight: 700;
  --typography-pricetag-14pt-bold-line-height: 20px;
  --typography-pricetag-16pt-regular-font-family: Roboto;
  --typography-pricetag-16pt-regular-font-size: 16px;
  --typography-pricetag-16pt-regular-font-weight: 400;
  --typography-pricetag-16pt-regular-line-height: 24px;
  --typography-h3-24pt-font-family: Raleway;
  --typography-h3-24pt-font-size: 24px;
  --typography-h3-24pt-font-weight: 600;
  --typography-h3-24pt-line-height: 28px;
  --typography-tag-12pt-font-family: Roboto;
  --typography-tag-12pt-font-size: 12px;
  --typography-tag-12pt-font-weight: 500;
  --typography-tag-12pt-line-height: 13px;
  --typography-h2-26pt-font-family: Raleway;
  --typography-h2-26pt-font-size: 26px;
  --typography-h2-26pt-font-weight: 600;
  --typography-h2-26pt-line-height: 30px;
  --typography-h5-20pt-font-family: Raleway;
  --typography-h5-20pt-font-size: 20px;
  --typography-h5-20pt-font-weight: 400;
  --typography-h5-20pt-line-height: 24px;
  --typography-nutzername-font-family: Roboto;
  --typography-nutzername-font-size: 10px;
  --typography-nutzername-font-weight: 400;
  --typography-nutzername-line-height: 12px;
  --typography-tag-10pt-font-family: Roboto;
  --typography-tag-10pt-font-size: 10px;
  --typography-tag-10pt-font-weight: 500;
  --typography-tag-10pt-line-height: 12px;
  --typography-button-14-pt-font-family: Raleway;
  --typography-button-14-pt-font-size: 14px;
  --typography-button-14-pt-font-weight: 500;
  --typography-button-14-pt-line-height: 18px;
  --typography-button-10pt-font-family: Raleway;
  --typography-button-10pt-font-size: 10px;
  --typography-button-10pt-font-weight: 500;
  --typography-button-10pt-line-height: 12px;
  --typography-button-i-10-pt-font-family: Raleway;
  --typography-button-i-10-pt-font-size: 10px;
  --typography-button-i-10-pt-font-weight: 500;
  --typography-button-i-10-pt-line-height: 10px;
  --typography-footer-font-family: Roboto;
  --typography-footer-font-size: 10px;
  --typography-footer-font-weight: 400;
  --typography-footer-line-height: 12px;
  --typography-text-small-font-family: Mplus 1p;
  --typography-text-small-font-size: 16.200000762939453px;
  --typography-text-small-font-weight: 400;
  --typography-text-small-line-height: 21px;
  --typography-mwst-font-family: Roboto;
  --typography-mwst-font-size: 10px;
  --typography-mwst-font-weight: 400;
  --typography-mwst-line-height: 12px;
  --typography-subline-3-font-family: Roboto;
  --typography-subline-3-font-size: 12px;
  --typography-subline-3-font-weight: 400;
  --typography-subline-3-line-height: 18px;
  --typography-bewertung-font-family: Roboto;
  --typography-bewertung-font-size: 14px;
  --typography-bewertung-font-weight: 700;
  --typography-bewertung-line-height: 16px;
  --typography-caption-roboto-regular-font-family: Roboto;
  --typography-caption-roboto-regular-font-size: 12px;
  --typography-caption-roboto-regular-font-weight: 400;
  --typography-caption-roboto-regular-line-height: 16px;
  --typography-button-roboto-medium-font-family: Roboto;
  --typography-button-roboto-medium-font-size: 14px;
  --typography-button-roboto-medium-font-weight: 500;
  --typography-button-roboto-medium-line-height: 16px;
  --typography-button-14-pt-dark-font-family: Raleway;
  --typography-button-14-pt-dark-font-size: 14px;
  --typography-button-14-pt-dark-font-weight: 500;
  --typography-button-14-pt-dark-line-height: 18px;
  --typography-title-small-font-family: Mplus 1p;
  --typography-title-small-font-size: 12.600000381469727px;
  --typography-title-small-font-weight: 800;
  --typography-title-small-line-height: 21px;
  --typography-text-misc-nav-footer-font-family: Mplus 1p Bold;
  --typography-text-misc-nav-footer-font-size: 12.600000381469727px;
  --typography-text-misc-nav-footer-font-weight: 700;
  --typography-text-misc-nav-footer-line-height: 28px;
  --typography-text-misc-nav-font-family: Mplus 1p;
  --typography-text-misc-nav-font-size: 14.399999618530273px;
  --typography-text-misc-nav-font-weight: 800;
  --typography-text-misc-nav-line-height: 24px;
  --typography-headers-h6-font-family: Mplus 1p;
  --typography-headers-h6-font-size: 18px;
  --typography-headers-h6-font-weight: 500;
  --typography-headers-h6-line-height: 21px;
  --typography-headers-h3-font-family: Mplus 1p;
  --typography-headers-h3-font-size: 45px;
  --typography-headers-h3-font-weight: 500;
  --typography-headers-h3-line-height: 53px;
}
